<suite  parallel="tests" name="All Test Suite">
    <listeners>
        <listener class-name="rahulshettyacademy.TestComponents.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Submit Order Test">
        <classes>
            <class name="rahulshettyacademy.Tests.SubmitOrderTest">
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Error Validation Test">
        <classes>
            <class name="rahulshettyacademy.Tests.ErrorValidationTest">
            </class>
        </classes>
    </test>

</suite>